	/* Sticky footer CSS */
	* {
		margin: 0;
	}

	html, body {
		height: 100%;
	}

	.wrapper {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto -90px;
	}

	.push {
		height: 90px;
	}
	/* End Sticky footer CSS */

	body {
		background: url('../images/concrete_seamless.png');
		background-color: #ffffff;
		padding: 0px;
		margin: 0px;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		font-size: 18px;
		color: #777777;
	}

	h1, h2, h3 {
		color: #4aaaa5;
		font-family: 'Georgia', Times, Times New Roman, serif;
		font-size: 30px;
		font-weight: bold;
	}

	h3 {
		font-size: 22px;
	}

	a {
		text-decoration: none;
		color: #9999a5;
	}

	header {
		background: #ffffff;
		border-bottom: solid 2px;
		border-bottom-color: #cccccc;
	}

	#header_section {
		width: 960px;
		margin: 0px auto;
		height: 90px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	#header_name_block {
		background: #4aaaa5;
		height: 90px;
		width: 250px;
		display: flex;
		align-items: center;
	}

	#header_text {
		color: white;
		margin: auto;
	}

	nav {
		height: 20px;
	}

	.nav_links {
		background: white;
		height: 100%;
		padding: 0px 15px;
		float: left;
		transition: all 0.2s linear;
	}

	.nav_bar {
		background: #efefef;
		width: 1px;
		height: 100%;
		float: left;
	}

	#main_section {
		width: 960px;
		margin: 38px auto;
		
		display: flex;
		justify-content: space-between;
	}

	section, aside {
		width: 588px;
		background: #ffffff;
		padding: 40px 30px 30px 30px;
		border: 1px solid;
		border-color: #dddddd;
	}

	section p {
		line-height: 190%;
	}

	#main_greyline {
		background: #dddddd;
		height: 3px;
		margin: 30px 0 20px 0;
	}

	aside {
		width: 208px;
		height: 133px;
		padding: 30px 30px 35px 30px;
	}

	aside img {
		width: 60px;
		height: 60px;
		transition: all 0.2s;
	}

	#sidebar_greyline {
		background: #eeeeee;
		height: 2px;
		margin: 20px 0 22px 0;
	}

	#socialmedia {
		display: flex;
		justify-content: space-between;
	}

	#profile_image {
		float: left;
		margin: 10px 25px 10px 0px;
		width: 200px
		height: 150px;
	}

	footer {
		background: #666666;
		height: 80px;
		align-items: center;
		display: flex;
		justify-content: center;
		border-top: solid 10px;
		border-top-color: #4aaaa5;
	}

	#footer_text {
		color: #cccccc;
		font-size: 12px;
	}


	textarea {
		height: 200px;
	}

	input, textarea {
		color: #a9a9a9;
		font-size: 16px;
		border: 1px solid #dddddd;
		width: 550px;
		margin-top: 7px;
		padding: 10px;
	}

	#submit {
		background: #4aaaa5;
		font-size: 20px;
		color: white;
		border: 0px;
		outline: none;
		width: auto;
		margin-top: 15px;
		padding: 10px 30px;
	}

	.port_left, .port_right, .port_bottom {
		height: 205px;
		margin: 20px 0px 36px 0px;
		position: relative;
		float: left;
	}
	
	.port_right {
		float: right;
	}
	
	.port_bottom {
		margin-bottom: 0px;
	}
	
	.portfolio_text_block {
		background: #4aaaa5;
		width: 100%;
		height: 40px;
		margin-top: 136px;
		padding-top: 20px;
		position: absolute;
		float: left;
	
		font-family: 'Georgia', Times, Times New Roman, serif;
		font-size: 22px;
		color: white;
		text-align: center;
	}
	
	
		
	
	